bump2version
click
codecov
coverage
coveralls
flake8
furo
matplotlib
mypy
pip
pre-commit
pylint
pytest
pytest-cov
sphinx
sphinx-autobuild
sphinx-copybutton
sphinx-gallery
sphinx-notfound-page
tox
twine
types-Deprecated
watchdog
wheel
